.current:hover {
  border-color: #fb8122;
}

.search button {
  border: 3px solid #fbeec1;
  line-height: 1.8;
  padding: 0 30px;
  font-size: 18px;
  text-align: center;
  color: #31525b;
  margin: 20px;
  border-radius: 10px;
  background-color: #fbeec1;
}
.search button:hover {
  border-color: #fb8122;
  outline: 0;
}
input {
  background-color: #fbeec1;
  border: 3px solid #fbeec1;
  border-radius: 10px;
  color: #31525b;

  padding: 4.5px 50px;
}
.location {
  display: block;
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}
.card-body {
  display: block;
  text-align: center;
  border: 3px solid #659dbd;
  border-radius: 10px;
  background-color: #659dbd;
  padding: 5px;
  color: #fbeec1;
}
ul {
  padding-left: 0;
}
li {
  font-size: 18px;
  list-style-type: none;
  padding-bottom: 10px;
}

.col {
  font-size: 18px;
  text-align: center;
}
.h5 {
  text-align: center;
}
.row {
  margin: 0px;
  text-align: center;
}
body {
  margin-top: 22px;
}
.link-source {
  margin-top: 30px;
  margin-left: 220px;
}
#description {
  font-size: 14px;
  color: #fbeec1;
  padding-right: 48px;
}

#temperatureCur {
  font-size: 36px;
  background-color: rgba(255, 255, 0, 0);
  color: #fbeec1;
}
.col-6 {
  text-align: center;

  padding-bottom: 0px;
}
.degree {
  font-size: 24px;
  vertical-align: 10px;
}
#currentDay {
  font-size: 20px;
  vertical-align: -10px;
}
.col-sm-6 {
  padding-bottom: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  display: block;
  margin-top: 0px;
  text-align: center;
  color: #fbeec1;
  padding-left: 0px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-date {
  font-size: 18px;
  text-align: center;
  padding-right: 42px;
  padding-top: 14px;
  padding-left: 22%;
  opacity: 1;
}
.weather-forecast-temperatures {
  font-size: 16px;
  text-align: center;
  padding-left: 46px;
  padding-top: 14px;
}
.card {
  background-color: #fbeec1;
  background-image: linear-gradient(#daad86, #fbeec1);
}
#left-block {
  text-align: center;
  padding-left: 70px;
}
#right-block {
  text-align: center;
}
